body {
    background: rgb(146, 213, 255);
    background: linear-gradient(49deg, rgba(146, 213, 255, 1) 0%, rgba(22, 87, 255, 1) 100%);
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
}

body *{
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login>h1 {
    font-size: 3vw;
    color: #fff;
}

.left-imagem-login {
    width: 25vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgb(68, 120, 255, 0.5);
    border-radius: 35px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login>h1 {
    color: #fff;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.textfield>input {
    width: 100%;
    border: none;
    border-radius: 15px;
    padding: 15px;
    background: #6993ff;
    color: #fff;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield>label {
    color: #fff;
    margin: 10px;
}

.textfield>input::placeholder {
    color: #f0ffff94;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 50px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #223c7f;
    cursor: pointer;
    box-shadow: 0 10px 40px -12px #8eaeff;
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
    .left-imagem-login{
        width: auto;
    }
    .left-login{
        font-size: 18pt;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login>h1 {
        font-size: 16pt;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-imagem-login{
        width: 50vw;
    }

    .card-login{
        width: 90%;
    }

    
}